// Define your custom variables and mixins here
$offwhite: #F5F5F5;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.footer {
  width: 100%;
  background: rgba(33, 104, 105, 0.58);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: $offwhite;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 10rem;
    }

    @include desktop {
      height: 10rem;
    }

    &__sectioning {
      margin: 15px;
    }
    &__column {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
      }

      &__icon {
        font-size: 25px;
        cursor: pointer;
        margin: 5px;
      }
      &__icon:hover {
        transform: translateY(-0.5rem);
      }
    }

    &__list {
      font-size: 20px;
    }
  }
}

.mail:hover {
  cursor: pointer;
}
